.bunny-img {
  background-image: url("../img/main-img-edit.jpg");
  min-height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.top {
  position: relative;
}

h1 {
  position: absolute;
  bottom: 0;
  left: 5vw;
  color: black !important;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

#profile-photo, #artemis-img {
  width: max(80px, 15vw);
}

#artemis-img {
  opacity: 0.75;
  position: absolute;
  bottom: 0;
}

.left-side {
  margin: 2vw;
  width: 15vw;
}

.middle {
  width: 60vw;
  margin: 2vw;
}

.right-side {
  width: 15vw;
  margin: 2vw;
  position: relative;
}


h2 {
  margin: 0;
}

h3 {
  margin: 2vh 0 2vh 0;
}

p {
  margin: 2px;
  margin-bottom: 2vh;
}

.content {
  margin: 0;
}

.large-margin-top {
  margin-top: 50px;
}

.bold {
  font-weight: bold;
}

a:link, a:visited {
  text-decoration: none;
  color: rgb(219, 129, 10);
}

a:hover {
  text-decoration: underline;
}

.homework-section {
  border-style: solid;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 5vh;
  text-indent: 2vw;
  border-color:rgb(219, 129, 10)
}

div > img {
  width: 20%;
  height: auto;
}


.a {
  display: inline;
  width: 100px;
  height: 100px;
  padding: 7px;
  border-style: solid;
  background-color: yellow;
}

.inline .eg {
  display: inline-block;
}

.inline {
  margin: 0;
  padding: 0;
}

.arrow {
  width: 3vw;
  height: auto;
}

.b {
  display: block;
  width: 100px;
  height: 100px;
  padding: 7px;
  border-style: solid;
  background-color: yellow;
}

.c {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 7px;
  border-style: solid;
  background-color: yellow;
}

.blue-color {
  margin-top: 4vh;
  color: blue;
}

.small-img {
  max-width: 33%;
  height: auto;
}

.small-img-code {
  max-width: 20%;
  height: auto;
}


@media only screen and (max-width: 600px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .left-side, .middle, .right-side {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2vh;
  }
  #artemis-img {
    display: none;
  }
  #profile-photo {
    display: block;
    width: 100%; 
    float: left;
    margin-bottom: 2vh;
  }
  .bunny-img {
    background-image: url("../img/main-img-phone-scale.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30vh;
    }
  h1{
    font-size: 20px;
  }
}