.bunny-img {
  background-image: url("../img/main-img-edit.jpg");
  min-height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.top {
  position: relative;
}

h1 {
  position: absolute;
  bottom: 0;
  left: 5vw;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#profile-photo {
  width: max(80px, 10vw);
}


.left-side {
  margin: 2vw;
  max-width: 15vw;
}

.middle {
  max-width: 60vw;
}

.right-side {
  max-width: 15vw;
  margin: 2vw;
}

h3 {
  margin: 4px;
}

p {
  margin: 2px;
}

.large-margin-top {
  margin-top: 50px;
}